.container{
    display:flex;
    justify-content: space-around;
}

.items{
    border-radius: 14px;
}

.more{
   margin-left: 75%;
}

.heading{
    margin-bottom: 20px;
    text-align: center;
}

.search-bar{
width: 23%;
height: 30px;
margin-right: 7px;
margin-left: 63%;
}

