.table{
    outline: solid;
    margin-bottom: 35px;
    align-content: center;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.choices{
    align-content: center;
    border: none;
}