.fundbox{
    border: solid; 
    border-radius: 8px;
    color: aqua;
}

.button{
    border-radius: 14px;
}

.display{
    text-align: center;
}

.title-fund{
    margin-bottom: 15px;
}

.search-field{
    margin-right: 5px;
}

img{
    border-radius: 10px;
}

.box{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }

  .content-three{
    display: inline;
  }