.table-items{
    outline: solid;
    margin-bottom: 75px;
    align-content: center;
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.button{
    border-radius: 14px;
}

.button:hover{
    cursor: pointer;
}

.row{
    text-align: center;  
}