.header{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.table{
    outline: solid;
    margin-bottom: 35px;
    align-content: center;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-decoration: underline;
    font-size: large;
    
}