.button{
    border-radius: 14px;
}

.container{
    display: flex;
    border: solid;
    border-radius: 8px;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.items{
    display: inline;
    flex: 1 1 0;
}

.list-status{
    display: block;
    list-style-type:circle;
    margin-left: 5%;
}

.account {
    margin-left: 7%;
}
.top{
    margin-left: 5%;
}
.bets{
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.welcome{
 margin-top: 15px;
 text-decoration: underline
}