/* .back{

} */

.button{
    border-radius: 14px;
}

.container-one{
    display: flex;
    border: solid;
    border-radius: 8px;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 700px;
    overflow: auto;
    text-align: center;
    justify-content: center;
    
}

.items{
    display: inline;
    flex: 1 1 0;
}

.list-status{
    display: block;
    list-style-type:circle;
    margin-left: 5%;
}

.account {
    margin-left: 7%;
}
.top{
    margin-left: 5%;
    margin-bottom: 20px;
}
.bets{
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.welcome{
 margin-top: 15px;
 text-decoration: underline
}