.button{
    border-radius: 14px;
}

.container{
    display: flex;
}

.items{
    display: inline;
    flex: 1 1 0;

}

.list-status{
    display: block;
    list-style-type:circle;
    margin-left: 5%;
}

.account {
    margin-left: 7%;
}

.bets{
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.welcome{
 font-size: x-large;
 text-decoration: underline
}